body, html {
  height: 100%;
}

.bgimg {
  background-image: url('/img/under-construction.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

.top-left {
  position: absolute;
  top: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.icon-container {
  text-align: center;
}

.fa-linkedin{
  color: #000000;
}

.fa-linkedin:hover {
  color: #ffffff;
}

hr {
  margin: auto;
  width: 40%;
}

